<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <h1>EDIT DOCUMENT</h1>
    <%= render 'form' %>
    <%= link_to 'Back', [current_user, @ufile], class: "btn btn-info pull-right" %>
    <%= link_to 'Home', current_user, class: "btn btn-info pull-right" %>
  </div>
</div>
